[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flit = "*"
ipdb = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"

[packages]
awscrt = "*"
boto3 = "*"
requests = "*"

[requires]
python_version = "3"
